# Example environment variables for authenSvc

# Semicolon-separated ; list of allowed CORS origins. Use * to allow all origins (not recommended for production).
CORS_ALLOW_ORIGINS=http://localhost:3000

JWT_SECRET=dev-secret-change-me

# MongoDB connection URI (replace with your credentials/cluster)
MONGODB_URI=mongodb+srv://test:test@test.ftecqos.mongodb.net/
MONGODB_DB=project
MONGODB_COLLECTION=usersdb

FRONTEND_URL=http://localhost:3000/reset-password

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=test@gmail.com
# App password for the Gmail account (not your regular Gmail password). You can generate an app password in your Google account settings.
SMTP_PASSWORD=qplg exzh cxsb eiur
