# Go binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Build output
bin/
dist/
release/
parsingSvc/uploads/

# Go modules vendor dir
vendor/

# Coverage
*.cover
coverage.out

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.iml

# Env & local config
.env
*.local

# Temporary files
*.swp
*~

# Python modules for Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
