# Example environment variables for persistenceSvc

# Comma-separated list of allowed CORS origins. Use * to allow all origins (not recommended for production).
CORS_ALLOW_ORIGINS=http://localhost:5173

# MongoDB connection URI (replace with your credentials/cluster)
MONGO_URI=mongodb+srv://test:test@test.ftecqos.mongodb.net/

MATCHING_SVC_URL=http://localhost:9020
